.products-page {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
    gap: 10px;
  }

  &__search {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 24px;

    &-input {
      width: 100%;
    }

    &-action {
      color: #ffffff;
      border-radius: 100%;
      border: 1px solid #4C4E51;
    }
  }
}
