.icon-input {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #272829;
  transition: border-color 0.2s;
  border-radius: 32px;
  background: #272829;
  color: #A0A2A8;
  padding: 12px 16px;
}

.icon-input:focus-within {
  border-color: #A0A2A8;
}

.icon-input i.start {
  margin-right: 6px;
}

.icon-input i.end {
  margin-left: 6px;
}

.icon-input input {
  line-height: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  flex: 1;
  background: transparent;
  color: #A0A2A8;
  font-size: 16px;
}
