<div class='info-page'>
  <h2>О компании ТМК</h2>
  <div class='info-page__text'>
    <p>ТМК является крупнейшим производителем стальных труб в России и входит в тройку глобальных лидеров трубного бизнеса.</p>
    <p>ТМК производит нарезные трубы, специальные трубы, трубопроводные системы и другую продукцию для энергетики, химической промышленности, машиностроения, строительства и других отраслей.</p>
    <p style='color: #8c8a8a;'>Компания обладает широкими компетенциями в машиностроительном сегменте, поставляет инженерные решения для энергетических и металлургических производств, а также разрабатывает новую линейку продукции для водородной энергетики.</p>
  </div>
  <h2 style='margin-top: 15px'>Заводы</h2>
  <div class='info-page__text' style=''>
    <p>- ТМК–ИНОКС</p>
    <p>- Синарский трубный завод</p>
    <p>- Челябинский трубопрокатный завод</p>
    <p>- Волжский трубный завод</p>
    <p>- Северский трубный завод</p>
    <p>- Таганрогский металлургический завод</p>
  </div>
  <div class='career' style='font-size: 12px; margin-top: 20px'>
    <h2>Карьера в ТМК</h2>
    <p style='font-size: 13px'>Для ТМК персонал — это не просто ресурс. Мы придерживаемся концепции, что каждый сотрудник ценен и важен для компании, и каждый сотрудник имеет право на развитие своего потенциала.
    </p>
    <div class='career__buttons'>
      <a target='_blank' href='https://www.tmk-group.ru/cv' class='career__anketa'>Заполнить анкету</a>
      <a target='_blank' href='https://www.tmk-group.ru/vacancies/' class='career__vacations'>Вакансии</a>
    </div>
  </div>
  <h2 style='margin-top: 20px'>Корпоративный университет</h2>
  <div class='info-page__text'>
    <p style='font-weight: 500'>TMK2U — это Корпоративный университет ТМК, крупнейшего российского производителя труб, входящего в тройку лидеров мирового трубного бизнеса, «Золотого работодателя» 2021-2022 годов по версии Forbes.</p>
    <p >Специалисты Корпоративного университета занимаются разработкой электронных курсов, очных и онлайн-программ экспертного уровня для руководителей, специалистов и рабочих различных сфер бизнеса.</p>
    <div style='display: flex; align-items: center; justify-content: space-between; margin-top: 10px'>
      <div style='display: flex; flex-direction: column; gap: 10px'>
        <span style='font-size: 30px; color: white'>560+</span>
        <span style='color: white'>Обучающихся работ</span>
      </div>
      <div style='display: flex; flex-direction: column; gap: 10px'>
        <span style='font-size: 30px; color: white'>80+</span>
        <span style='color: white'>Корпоративных бизнес-тренеров</span>
      </div>
      <div style='display: flex; flex-direction: column; gap: 10px'>
        <span style='font-size: 30px; color: white'>14</span>
        <span style='color: white'>HR Бизнес-процессов</span>
      </div>
    </div>
    <a target='_blank' href='https://tmk2u.com/' style='width: 100%;background-color: #F75c19; text-align: center;
    padding: 15px;
     border-radius: 5px;
      color: white;
       margin-top: 20px; font-size: 16px; text-decoration: none'>Подробнее</a>
  </div>
</div>
