<footer class="footer">
  <div class="footer__container">
    <a
      class="footer__action"
      routerLink="/tmk"
      routerLinkActive="footer__action-active"
    >
      <tui-icon
        icon="@tui.boxes"
        [style.color]="'#E0E0E0'"
        [style.font-size.px]="32"
      />
      <span class="footer__action-text">ТМК</span>
    </a>

    <a
      class="footer__action"
      routerLink="/catalog"
      routerLinkActive="footer__action-active"
    >
      <tui-icon
        icon="@tui.layout-dashboard"
        [style.color]="'#E0E0E0'"
        [style.font-size.px]="32"
      />
      <span class="footer__action-text">Каталог</span>
    </a>

    <a
      class="footer__action"
      routerLink="/cart"
      routerLinkActive="footer__action-active"
    >
      <tui-icon
        icon="@tui.arrow-left-right"
        [style.color]="'#E0E0E0'"
        [style.font-size.px]="32"
      />
      <span class="footer__action-text">Корзина</span>
    </a>
  </div>
</footer>
