.category-card {
  cursor: pointer;
  border-radius: 16px;
  max-width: 350px;
  min-height: 96px;
  background: #2F2F2F;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  &__title {
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
  }

  &__image {
    max-width: 117px;
    max-height: 117px;
  }

  &__left {
    flex-direction: row-reverse;
  }

  &__top {
    flex-direction: column-reverse;
  }

  &__bottom {
    flex-direction: column;
  }
}
